body
{
    overflow-x: hidden;
    width: 100%;
}

header
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.7px;
    align-items: center;
    background-color:rgb(36, 80, 150) ;
    height: 70px;
    width: 100%;
}
.eresultats
{
    width: 300px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
}

.apreslogo
{
    width: 60%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title
{
    width: 80%;
    line-height: -1.5;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.6rem;
    font-weight:bold;
    color: white;
}

.apreslogo .drapeau
{
    width: 85%;
    height: 6px;
    display: flex;
}

.apreslogo span
{
    display: inline-block;
}

.apreslogo .drapeau span
{
    flex: 1;
    height: 100%;
}

.apreslogo .drapeau .vert
{
    background-color: teal;
}

.apreslogo .drapeau .jaune
{
    background-color: rgb(213, 213, 3);
}

.apreslogo .drapeau .rouge
{
    background-color: red;
}

.apreslogo .apresdrapeau
{
    font-size: 6.5px;
    text-transform: uppercase;
    color: white;
    margin: 3px 0px;
}

nav
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li
{
    font-size: 0.8rem;
    width: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a
{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

nav ul li a:hover
{
    color: orange;
}
.bienvenue
{
    width: 100%;
    height: 75vh;
    background-image: url('../assets/back.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-bienvenue
{
    width: 100%;
    height: 145px;
    background-color: rgba(25, 51, 102, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.5;
    color: white;
    font-size: 22px;
}

.section-bienvenue span
{
    display: inline-block;
    margin-bottom: -3px;
    letter-spacing: 1px;
    opacity: 0.8;
    text-align: center;
}

.section-bienvenue p
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.apres-bienvenue
{
    width: 100%;
    height: 95px;
    background-color:rgba(123, 146, 168, 0.8) ;
    text-align: center;
    padding: 25px 0px 0px 0px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.examens-concours
{
  width: 92%;
  height: auto;
  margin: 0px auto;
}

.examens-concours .title
{
    display: flex;
    justify-content: flex-start ;
    align-items: center; 
    color: black;
}

.examens-concours .title p
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 15px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 18px;
    padding: 5px;
}

.examens
{
    width: 100%;
    height: auto;
    font-family:serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.examens .examens-cadre
{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 160px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3);
    padding: 15px 10px;
    margin: 25px 0px 25px 0px;
}
.examens .examens-cadre:hover, .examens .cadre-resultats:hover
{
    box-shadow: 1px 5px 5px 2px rgba(0,0,0,0.3);
}

.examens .grand
{
  height: 200px;
}

.examens span
{
  display: inline-block;
}

.examens .examens-cadre .numero, .examens .cadre-resultats .apresbientot .numero
{
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin-top: 22px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.examens .examens-cadre .designation, .examens .cadre-resultats .apresbientot .designation
{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.examens .examens-cadre .designation p, .examens .cadre-resultats .apresbientot .designation p
{
    font-size: 20px;
    font-weight: 500;
}

.examens .examens-cadre .designation span , .examens .cadre-resultats .apresbientot .designation span
{
    font-style: oblique;
    opacity: 0.9;
    width: 100%;
    letter-spacing: 1px;
}

.orange
{
    background-color: orange;
}
  
.vert
{
    background-color: green;
}

.marron
{
    background-color: rgb(155, 11, 11);
}

.violet
{
    background-color: rgb(102, 5, 126);
}

.rouge
{
    background-color: red;
}

.vertsombre
{
    background-color: rgb(19, 113, 12);
}

.gris
{
    background-color: grey;
}

.examens-concours progress
{
    margin: 40px 0px;
    width: 100%;
    height: 0.5px;
    color:rgb(102, 5, 126); 
}

.cadre-resultats
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 160px;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.3);
    padding: 15px 10px;
    margin: 25px 0px 25px 0px;
}
.cadre-resultats .bientot
{
    height: 10%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin:-20px -10px 0px 0px;
    background-color: rgba(123, 146, 168, 0.8) ;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.cadre-resultats .apresbientot
{
    height: 90%;
    display: flex;
    justify-content: space-evenly;
}

footer
{
    width: 100%;
    height: auto;
    margin-top: 25px;
    opacity: 0.7;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .container-footer
{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

footer .container-footer ul li
{
  list-style:square;
  margin-left: 25px;
}

footer .container-footer ul a
{
    font-family: serif;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    opacity: 0.5px;
    font-size: 12px;
}

footer .container-footer ul .title-footer
{
    list-style: none;
    font-size: 15px;
    margin-left: 0px;
}

footer .container-footer ul
{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 30px;
}

footer .texte-footer
{
    font-family: serif;
    height: 20px;
    letter-spacing: 1px;
    opacity: 0.5px;
    font-size: 12px;
}

.reseau
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 15px -20px;
}

footer .container-footer .lastul li
{
    list-style: none;
}

@media (max-width : 1000px) {
    header {
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px 0px;
    }
    nav
    {
        width: 100%;
    }
    nav ul
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    nav ul li
    {
        font-size: 0.8rem;
        width: auto;
        margin: 10px;
    }
    .section-bienvenue p
    {
        font-size: 1.5rem;
    }
    .apres-bienvenue , .section-bienvenue span
    {
        font-size: 1rem;
    }
}

@media (max-width : 500px) {
    .examens .examens-cadre , .cadre-resultats{
        margin: 25px auto;
    }
}